@import '~bootstrap/scss/bootstrap';

.header{
	font-family: 'Museo Sans Cyrl 300';
    height: 198px;
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
    
   
    .header-nav{
        background-color: #333333;
        height: 50px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        place-content: space-around;
      
        .header-nav-selector-1{
            display: grid; 
            grid-template-columns: 101px 82px 107px 115px 190px 101px;
            width: 1115px; 
            place-content: space-around;
            align-items: center;

            img{
                width: 1rem/* 16px */;
                height: 1rem/* 16px */;
                margin-right: 1.25rem/* 20px */;
                margin-top: auto;
                margin-bottom: auto;

            }
        }

        .header-nav-selector-2{
            display: flex;
            width: auto;
            place-content: space-around;
            margin-right: 6rem/* 96px */;
            
            img{
                width: 1rem/* 16px */;
                height: 1rem/* 16px */; 
                margin: auto 10px auto 0;
            }
        }
    }
    
    .header-body{
            display: flex;
            height: 148px;
            .header-body-img{
                width: 16%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: end;
            }
            .header-body-1{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                
                .search{
                    display: flex;
                    justify-content: space-around;
                    .search-1{
                        width: 14rem/* 224px */;
                        border-bottom: solid 1px;
                        border-color: rgb(149 109 132 );
                        color: rgb(130 130 130 );
                    }
                    .search-2{
                        display: flex;
                        width: 580px;
                        justify-content: space-between;
                        border-bottom: solid 1px;
                        border-color: rgb(149 109 132 );
                        color: rgb(130 130 130 );
                        input{
                            width: 550px;
                        }
                    }
                    
                }
                .search-ul{
                    display: flex;
                    justify-content: space-around;
                    margin: 48px 0 0 0;
                    font-family: 'Museo Sans Cyrl 900';
                }
            }
            .header-body-2{
                width: 33.333333%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                .icon{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 9rem/* 144px */;
                }
                .icon-sum{
                    display: flex;
                    align-items: center;
                    width: 10rem/* 160px */;
                    justify-content: space-between;
                    margin-top: 1.25rem/* 20px */;
                }
            }
     }
}




    


