

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Euclid Circular B';
  src: url('./fonts/EuclidCircularB/EuclidCircularB-Medium.eot');
  src: local('Euclid Circular B Medium'), local('EuclidCircularB-Medium'),
      url('./fonts/EuclidCircularB/EuclidCircularB-Medium.eot') format('embedded-opentype'),
      url('./fonts/EuclidCircularB/EuclidCircularB-Medium.woff2') format('woff2'),
      url('./fonts/EuclidCircularB/EuclidCircularB-Medium.woff') format('woff'),
      url('./fonts/EuclidCircularB/EuclidCircularB-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Euclid Circular B';
  src: url('./fonts/EuclidCircularB/EuclidCircularB-SemiBold.eot');
  src: local('Euclid Circular B SemiBold'), local('EuclidCircularB-SemiBold'),
      url('./fonts/EuclidCircularB/EuclidCircularB-SemiBold.eot') format('embedded-opentype'),
      url('./fonts/EuclidCircularB/EuclidCircularB-SemiBold.woff2') format('woff2'),
      url('./fonts/EuclidCircularB/EuclidCircularB-SemiBold.woff') format('woff'),
      url('./fonts/EuclidCircularB/EuclidCircularB-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Euclid Circular B';
  src: url('./fonts/EuclidCircularB/EuclidCircularB-Regular.eot');
  src: local('Euclid Circular B Regular'), local('EuclidCircularB-Regular'),
      url('./fonts/EuclidCircularB/EuclidCircularB-Regular.eot') format('embedded-opentype'),
      url('./fonts/EuclidCircularB/EuclidCircularB-Regular.woff2') format('woff2'),
      url('./fonts/EuclidCircularB/EuclidCircularB-Regular.woff') format('woff'),
      url('./fonts/EuclidCircularB/EuclidCircularB-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'Museo Sans Cyrl 100';
	src: url('./fonts/MuseoSans/MuseoSansCyrl-100.eot');
	src: local('MuseoSansCyrl-100'),
		url('./fonts/MuseoSans/MuseoSansCyrl-100.eot') format('embedded-opentype'),
		url('./fonts/MuseoSans/MuseoSansCyrl-100.woff') format('woff'),
		url('./fonts/MuseoSans/MuseoSansCyrl-100.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Museo Sans Cyrl 300';
	src: url('./fonts/MuseoSans/MuseoSansCyrl-300.eot');
	src: local('MuseoSansCyrl-300'),
		url('./fonts/MuseoSans/MuseoSansCyrl-300.eot') format('embedded-opentype'),
		url('./fonts/MuseoSans/MuseoSansCyrl-300.woff') format('woff'),
		url('./fonts/MuseoSans/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Museo Sans Cyrl 900';
	src: url('./fonts/MuseoSans/MuseoSansCyrl-900.eot');
	src: local('MuseoSansCyrl-900'),
		url('./fonts/MuseoSans/MuseoSansCyrl-900.eot') format('embedded-opentype'),
		url('./fonts/MuseoSans/MuseoSansCyrl-900.woff') format('woff'),
		url('./fonts/MuseoSans/MuseoSansCyrl-900.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1920px;
  
}

@media (max-width: 576px){
  body{
  width: 320px;
  padding: 0 10px;
  }
}
@media (max-width: 322px){
  body{
  width: 320px;
  }
}


